navigationmenu.li {
    box-sizing: border-box;
    margin: 25px;
    padding: 25px;
    background-color: #22E1DC;
    width: fit-content;
    list-style-type: none;

}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
nav>ul li {
width: 150px;
position: relative; 
text-align: center;
font-weight: bold;
color: darkmagenta;
}
nav ul li {
margin-bottom: 2px;
}
nav a {
text-decoration: none;
display: block;
border: 3px dotted magenta;
padding: 15px 15px 15px 15px;
}
.menu{
	    display: flex;
    justify-content: center;
}

.sub-items{
	    background-color: white;
    border: 1px solid #cec9c9;
    box-shadow: 0px 4px 11px 2px #ebe7e7;
	position: absolute;
	display:none;
}
.sub-items li{
	margin-bottom:12px
}

 .sub-menu:hover .sub-items{
	 display:block
 }
 .main-content{
	 margin-top:40px;
 }
 @media screen and (max-width: 768px) {
  .menu {
    display: block;
  }
  nav>ul li {
	width: 100%;
  }
  .sub-items{
	      position: relative;
    display: block;
  }
}
