*{
    margin: 0px;
    padding: 0px;
}
@font-face { 

    font-family: Anton-regular; 
    
    src: url("https://gwoodzz.github.io/islt_7310/Anton-Regular.ttf"); 
    
    }
h1 {
    color: #8A2BE2;
}


.footer {
    background-image: url("https://gwoodzz.github.io/islt_7310/mountain gwoods.jpg");
}



body{
	margin:2px;
font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

h1 {
    color: #8A2BE2;
}
h1 {
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    }
.container {
   width:1080px;
   max-width:100%;
   margin:0px auto;
   padding:0px 20px;
}	
.imgg{
    padding-top: 10px;
}
#imgas{
    width: 20px;
    height: 20px;
}
#imgs{
    margin-left: 4px;
    width: 15px;
    height: 15px;
}


footer{
	margin-top: 45px;
    background-image: url("https://gwoodzz.github.io/islt_7310/purp clouds.jpg");
    width: 100%;
    color: rgb(15, 240, 49);


}
#foot{
   margin-top: 348px;
}
#foote{
    height: 60px;
    margin-top: 230px;
 }
 #footes{
    height: 60px;
    margin-top: 50px;
 }
@media screen and (min-width:300px) {
   
    .img1{
        width: 100%;
    }
    .img1,img{
        width: 100%;
    }
    .cont{
        display: block;
    }
    
    .imgg{
        display: block;
    }
    .container{
       width: auto;
    }
    
    footer{
        margin-top: 45px;
        background-image: url("https://gwoodzz.github.io/islt_7310/purp clouds.jpg");
        width: 100%;
        color: rgb(15, 240, 49);
        margin-left: 0px;
    }
}
@media screen and (min-width:700px){
 
    .img1{
        width: 100%;
    }
    .img1,img{
        width: 100%;
    }

    footer{
       margin-top: 45px;
       background-image: url("https://gwoodzz.github.io/islt_7310/purp clouds.jpg");
       width: 100%;
       color: rgb(15, 240, 49);
       margin-left: 0px;
   }}

 

   

   @media screen and (min-width:769px){
 
    .img1{
        display: inline-block;
        width: 100%;
    }
    .img1,img{
        width:352px;
    }

    #layout{
        width: 45%;
        display: inline-block;
    }
    #layout1{
        width: 45%;
        display: inline-block;
    }
    #images{
        width: 100%;
        margin-left: 0px ;
    
    }
    #images11{
        margin-left: 90px;
        width: 70%;
    }
    #foos{
        margin-top: 180px;
    }

   }
   @media screen and (min-width:801px){

    .img1,img{padding-left: 2px;
        width:230px;
    }
   }
   @media screen and (min-width:827px){

    .img1,img{
        padding-left: 3px;
        width:380px;
    }
   }
   @media screen and (min-width:847px){

    .img1,img{
        padding-left: 3px;
        width:390px;
    }
   }
   @media screen and (min-width:857px){

    .img1,img{
        padding-left: 4px;
        width:395px;
    }
   }
@media screen and (min-width:900px){
    
    .img1,img{
        padding-left: 5px;
        width:410px;
    }
    #foos{
        margin-top: 442px;
    }

 footer{
	margin-top: 400px;
    background-image: url("https://gwoodzz.github.io/islt_7310/purp clouds.jpg");
    width: 100%;
    color: rgb(15, 240, 49);
    margin-left: 0px;
}}

@media screen and (min-width:769px)and (max-width:1090px){
    
    #images11{
        width: 90%;
        margin-left: 0px;
        
    }
    #footes {
        height: 60px;
        margin-top: 450px;
    }
    #layout1{
        width: 78%;
        display: block;
    }}
    @media screen and (min-width:770px){

        #foot{
            margin-top: 719px;
        }

    }
    @media screen and (min-width:770px){

        #foot{
            margin-top: 739px;
        }
        #footes {
            height: 60px;
            margin-top: 450px;
        }

    }
    @media screen and (min-width:787px){

        #foot{
            margin-top: 754px;
        }
        #footes {
            height: 60px;
            margin-top: 450px;
        }

    }
     

@media screen and (min-width:960px){

    .img1,img{
        padding-left: 6px;
        width:430px;
    }
    #footes {
        height: 60px;
        margin-top: 450px;
    }
   }
   @media screen and (min-width:1000px){

    .img1,img{
        padding-left: 7px;
        width:460px;
    }
    #footes {
        height: 60px;
        margin-top: 450px;
    }
   }
   @media screen and (min-width:1096px){
 
    
    #images{
        width:75%;
        margin-left: 140px ;
    
    }
    #footes {
        height: 60px;
        margin-top: 450px;
    }
    

   }
  
   @media screen and (min-width:1100px){

    .img1,img{
        padding-left: 10px;
        width:500px;
    }
    #footes {
        height: 60px;
        margin-top: 450px;
    }
   }
   @media screen and (min-width:1150px){

    .img1,img{
        padding-left: 10px;
        width:520px;
    }
    #footes {
        height: 60px;
        margin-top: 450px;
    }
    
   }
   @media screen and (min-width:1200px){

    .img1,img{
        padding-left: 10px;
        width:558px;
    }
    #foot{
        margin-top: 755px;
    }
    #footes {
        height: 60px;
        margin-top: 427px;
    }
    
   }
   @media screen and (min-width:1220px){

    
    #foot{
        margin-top: 772px;
    }
    #footes {
        height: 60px;
        margin-top: 450px;
    }
    
   }
   @media screen and (min-width:1300px){

    .img1,img{
        padding-left: 10px;
        width:618px;
    }
    #footes {
        height: 60px;
        margin-top: 418px;
    }
}
    @media screen and (min-width:1400px){

        #foot{
            margin-top: 772px;
        }

        #footes {
            height: 60px;
            margin-top: 450px;
        }

    }
    @media screen and (min-width:1611px){
        #footes {
            height: 60px;
            margin-top: 433px;
        }

        #foot{
            margin-top: 790px;
        }

    }
    @media screen and (min-width:1683px){
        #footes {
            height: 60px;
            margin-top: 453px;
        }

        #foot{
            margin-top: 790px;
        }

    }
    @media screen and (min-width:1900px){
        #foot{
            margin-top: 790px;
        }
        #footes {
            height: 60px;
            margin-top: 450px;
        }

    
   }
.website-counter {
    background-color: #ff4957;
    height: 80px;
    width: 90px;
    color: white;
    border-radius: 40px;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  
  #reset {
    margin-top: 20px;
    background-color: #008cba;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 20px;
    color: white;
    border: 0;
  }